[Unit]
Description=Run rclone bisync every 30 seconds

[Timer]
OnBootSec=30
OnUnitActiveSec=30
Unit=rclone-bisync.service

[Install]
WantedBy=default.target

