 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #B1B7AD;
active-foreground: #ECECE9;
normal-background: #010000;
normal-foreground: #ECECE9;
urgent-background: #BEC1B8;
urgent-foreground: #ECECE9;

alternate-active-background: #9CA19B;
alternate-active-foreground: #ECECE9;
alternate-normal-background: #010000;
alternate-normal-foreground: #ECECE9;
alternate-urgent-background: #010000;
alternate-urgent-foreground: #ECECE9;

selected-active-background: #BEC1B8;
selected-active-foreground: #ECECE9;
selected-normal-background: #BEC1B8;
selected-normal-foreground: #ECECE9;
selected-urgent-background: #BEC1B8;
selected-urgent-foreground: #ECECE9;

background-color: #010000;
background: rgba(0,0,0,0.7);
foreground: #ECECE9;
border-color: #B1B7AD;

color0: #010000;
color1: #71736F;
color2: #906B67;
color3: #757974;
color4: #858982;
color5: #8F908A;
color6: #969791;
color7: #DBDCD8;
color8: #999A97;
color9: #969994;
color10: #C08F8A;
color11: #9CA19B;
color12: #B1B7AD;
color13: #BEC1B8;
color14: #C8CAC1;
color15: #DBDCD8;


}

